@{
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<MyPets.Models.Order>

<div class="container mt-4 " style="max-width: 65%;">



	<h2>Admin Order Panel</h2>
	<div class="table-responsive">

		<table class="table table-bordered table-hover align-middle text-center" style="font-size: 0.9rem;">
			<thead class="table-light">
				<tr>
					<th>Product</th>
					<th>Image</th>
					<th>Customer</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Quantity</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Product.Name</td>
						<td><img src="@item.Product.ImageUrl" width="80" /></td>
						<td>@item.CustomerName</td>
						<td>@item.Address</td>
						<td>@item.Phone</td>
						<td>@item.Quantity</td>
						<td>@item.Status</td>
						<td>
							@if (item.Status == "Pending")
							{
								<span class="badge bg-warning text-dark">Pending</span>
							}
							else
							{
								<span class="badge bg-success">Delivered</span>
							}
						</td>

						<td>
							<a href="/Order/ToggleStatus/@item.OrderId"
							   class="btn btn-sm btn-dark">
								Change Status
							</a>
						</td>

						<td>
							<a href="/Order/Delete/@item.OrderId"
							   onclick="return confirm('Are you sure to delete this order?')"
							   class="btn btn-sm btn-danger">
								Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</div>